        .lst-kix_j9q3p8i64som-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_fqa91ctwinqp-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_fqa91ctwinqp-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_j9q3p8i64som-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_j9q3p8i64som-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_etmve5w7l0tx-4>li {
            counter-increment: lst-ctn-kix_etmve5w7l0tx-4
        }

        .lst-kix_fqa91ctwinqp-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_fqa91ctwinqp-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_fqa91ctwinqp-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_fqa91ctwinqp-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_fqa91ctwinqp-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_fqa91ctwinqp-7>li:before {
            content: "\0025cb   "
        }

        .lst-kix_fqa91ctwinqp-8>li:before {
            content: "\0025a0   "
        }

        .lst-kix_j9q3p8i64som-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_j9q3p8i64som-3>li:before {
            content: "\0025cf   "
        }

        ol.lst-kix_etmve5w7l0tx-1.start {
            counter-reset: lst-ctn-kix_etmve5w7l0tx-1 0
        }

        .lst-kix_ukrhhh31ino-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_etmve5w7l0tx-3>li {
            counter-increment: lst-ctn-kix_etmve5w7l0tx-3
        }

        .lst-kix_ukrhhh31ino-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_ovmnwi4zryoo-8>li:before {
            content: "\0025a0   "
        }

        .lst-kix_ovmnwi4zryoo-7>li:before {
            content: "\0025cb   "
        }

        .lst-kix_ukrhhh31ino-7>li:before {
            content: "\0025cb   "
        }

        .lst-kix_ukrhhh31ino-8>li:before {
            content: "\0025a0   "
        }

        .lst-kix_boqygtk2g052-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_ovmnwi4zryoo-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_ovmnwi4zryoo-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_etmve5w7l0tx-0>li:before {
            content: "" counter(lst-ctn-kix_etmve5w7l0tx-0, decimal) ". "
        }

        .lst-kix_ovmnwi4zryoo-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_ovmnwi4zryoo-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_ovmnwi4zryoo-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_ovmnwi4zryoo-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_ovmnwi4zryoo-2>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_fqa91ctwinqp-8 {
            list-style-type: none
        }

        ul.lst-kix_fqa91ctwinqp-7 {
            list-style-type: none
        }

        .lst-kix_ukrhhh31ino-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_ukrhhh31ino-4>li:before {
            content: "\0025cb   "
        }

        ol.lst-kix_etmve5w7l0tx-6.start {
            counter-reset: lst-ctn-kix_etmve5w7l0tx-6 0
        }

        ul.lst-kix_fqa91ctwinqp-6 {
            list-style-type: none
        }

        .lst-kix_rejkpmt5ls7s-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_rejkpmt5ls7s-3>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_fqa91ctwinqp-5 {
            list-style-type: none
        }

        .lst-kix_ukrhhh31ino-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_rejkpmt5ls7s-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_rejkpmt5ls7s-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_ukrhhh31ino-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_etmve5w7l0tx-2>li {
            counter-increment: lst-ctn-kix_etmve5w7l0tx-2
        }

        .lst-kix_ukrhhh31ino-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_rejkpmt5ls7s-2>li:before {
            content: "\0025a0   "
        }

        ol.lst-kix_etmve5w7l0tx-3.start {
            counter-reset: lst-ctn-kix_etmve5w7l0tx-3 0
        }

        .lst-kix_etmve5w7l0tx-5>li {
            counter-increment: lst-ctn-kix_etmve5w7l0tx-5
        }

        .lst-kix_etmve5w7l0tx-1>li {
            counter-increment: lst-ctn-kix_etmve5w7l0tx-1
        }

        .lst-kix_etmve5w7l0tx-7>li {
            counter-increment: lst-ctn-kix_etmve5w7l0tx-7
        }

        ul.lst-kix_fqa91ctwinqp-0 {
            list-style-type: none
        }

        ul.lst-kix_fqa91ctwinqp-4 {
            list-style-type: none
        }

        ul.lst-kix_fqa91ctwinqp-3 {
            list-style-type: none
        }

        ul.lst-kix_fqa91ctwinqp-2 {
            list-style-type: none
        }

        ul.lst-kix_fqa91ctwinqp-1 {
            list-style-type: none
        }

        ol.lst-kix_etmve5w7l0tx-7.start {
            counter-reset: lst-ctn-kix_etmve5w7l0tx-7 0
        }

        ul.lst-kix_ovmnwi4zryoo-2 {
            list-style-type: none
        }

        ul.lst-kix_ovmnwi4zryoo-3 {
            list-style-type: none
        }

        ul.lst-kix_ovmnwi4zryoo-4 {
            list-style-type: none
        }

        ul.lst-kix_ovmnwi4zryoo-5 {
            list-style-type: none
        }

        ul.lst-kix_ovmnwi4zryoo-6 {
            list-style-type: none
        }

        ul.lst-kix_ovmnwi4zryoo-7 {
            list-style-type: none
        }

        ul.lst-kix_ovmnwi4zryoo-8 {
            list-style-type: none
        }

        ol.lst-kix_etmve5w7l0tx-2.start {
            counter-reset: lst-ctn-kix_etmve5w7l0tx-2 0
        }

        .lst-kix_boqygtk2g052-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_boqygtk2g052-2>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_ovmnwi4zryoo-0 {
            list-style-type: none
        }

        ul.lst-kix_ovmnwi4zryoo-1 {
            list-style-type: none
        }

        .lst-kix_boqygtk2g052-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_boqygtk2g052-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_boqygtk2g052-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_boqygtk2g052-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_boqygtk2g052-8>li:before {
            content: "\0025a0   "
        }

        ol.lst-kix_etmve5w7l0tx-8.start {
            counter-reset: lst-ctn-kix_etmve5w7l0tx-8 0
        }

        .lst-kix_boqygtk2g052-7>li:before {
            content: "\0025cb   "
        }

        ol.lst-kix_etmve5w7l0tx-5.start {
            counter-reset: lst-ctn-kix_etmve5w7l0tx-5 0
        }

        ul.lst-kix_j9q3p8i64som-4 {
            list-style-type: none
        }

        ul.lst-kix_ukrhhh31ino-0 {
            list-style-type: none
        }

        ul.lst-kix_j9q3p8i64som-5 {
            list-style-type: none
        }

        ul.lst-kix_j9q3p8i64som-2 {
            list-style-type: none
        }

        ul.lst-kix_j9q3p8i64som-3 {
            list-style-type: none
        }

        ul.lst-kix_j9q3p8i64som-0 {
            list-style-type: none
        }

        ul.lst-kix_j9q3p8i64som-1 {
            list-style-type: none
        }

        ul.lst-kix_ukrhhh31ino-8 {
            list-style-type: none
        }

        ul.lst-kix_ukrhhh31ino-7 {
            list-style-type: none
        }

        ul.lst-kix_ukrhhh31ino-6 {
            list-style-type: none
        }

        ul.lst-kix_ukrhhh31ino-5 {
            list-style-type: none
        }

        ul.lst-kix_j9q3p8i64som-8 {
            list-style-type: none
        }

        ul.lst-kix_ukrhhh31ino-4 {
            list-style-type: none
        }

        ul.lst-kix_ukrhhh31ino-3 {
            list-style-type: none
        }

        ul.lst-kix_j9q3p8i64som-6 {
            list-style-type: none
        }

        ul.lst-kix_ukrhhh31ino-2 {
            list-style-type: none
        }

        ul.lst-kix_j9q3p8i64som-7 {
            list-style-type: none
        }

        ul.lst-kix_ukrhhh31ino-1 {
            list-style-type: none
        }

        ol.lst-kix_etmve5w7l0tx-0.start {
            counter-reset: lst-ctn-kix_etmve5w7l0tx-0 0
        }

        .lst-kix_etmve5w7l0tx-8>li {
            counter-increment: lst-ctn-kix_etmve5w7l0tx-8
        }

        .lst-kix_rejkpmt5ls7s-8>li:before {
            content: "\0025a0   "
        }

        .lst-kix_rejkpmt5ls7s-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_rejkpmt5ls7s-7>li:before {
            content: "\0025cb   "
        }

        .lst-kix_rejkpmt5ls7s-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_etmve5w7l0tx-6>li {
            counter-increment: lst-ctn-kix_etmve5w7l0tx-6
        }

        .lst-kix_etmve5w7l0tx-0>li {
            counter-increment: lst-ctn-kix_etmve5w7l0tx-0
        }

        .lst-kix_etmve5w7l0tx-1>li:before {
            content: "" counter(lst-ctn-kix_etmve5w7l0tx-1, lower-latin) ". "
        }

        ol.lst-kix_etmve5w7l0tx-4.start {
            counter-reset: lst-ctn-kix_etmve5w7l0tx-4 0
        }

        .lst-kix_etmve5w7l0tx-2>li:before {
            content: "" counter(lst-ctn-kix_etmve5w7l0tx-2, lower-roman) ". "
        }

        ul.lst-kix_boqygtk2g052-8 {
            list-style-type: none
        }

        ol.lst-kix_etmve5w7l0tx-8 {
            list-style-type: none
        }

        ol.lst-kix_etmve5w7l0tx-7 {
            list-style-type: none
        }

        ul.lst-kix_boqygtk2g052-6 {
            list-style-type: none
        }

        ul.lst-kix_boqygtk2g052-7 {
            list-style-type: none
        }

        .lst-kix_etmve5w7l0tx-3>li:before {
            content: "" counter(lst-ctn-kix_etmve5w7l0tx-3, decimal) ". "
        }

        .lst-kix_etmve5w7l0tx-5>li:before {
            content: "" counter(lst-ctn-kix_etmve5w7l0tx-5, lower-roman) ". "
        }

        ul.lst-kix_boqygtk2g052-4 {
            list-style-type: none
        }

        ul.lst-kix_boqygtk2g052-5 {
            list-style-type: none
        }

        li.li-bullet-0:before {
            margin-left: -18pt;
            white-space: nowrap;
            display: inline-block;
            min-width: 18pt
        }

        ul.lst-kix_boqygtk2g052-2 {
            list-style-type: none
        }

        ul.lst-kix_boqygtk2g052-3 {
            list-style-type: none
        }

        .lst-kix_etmve5w7l0tx-4>li:before {
            content: "" counter(lst-ctn-kix_etmve5w7l0tx-4, lower-latin) ". "
        }

        ul.lst-kix_rejkpmt5ls7s-8 {
            list-style-type: none
        }

        ul.lst-kix_boqygtk2g052-0 {
            list-style-type: none
        }

        ol.lst-kix_etmve5w7l0tx-0 {
            list-style-type: none
        }

        ul.lst-kix_boqygtk2g052-1 {
            list-style-type: none
        }

        .lst-kix_j9q3p8i64som-8>li:before {
            content: "\0025a0   "
        }

        ol.lst-kix_etmve5w7l0tx-2 {
            list-style-type: none
        }

        ol.lst-kix_etmve5w7l0tx-1 {
            list-style-type: none
        }

        .lst-kix_etmve5w7l0tx-7>li:before {
            content: "" counter(lst-ctn-kix_etmve5w7l0tx-7, lower-latin) ". "
        }

        ul.lst-kix_rejkpmt5ls7s-4 {
            list-style-type: none
        }

        ol.lst-kix_etmve5w7l0tx-4 {
            list-style-type: none
        }

        ul.lst-kix_rejkpmt5ls7s-5 {
            list-style-type: none
        }

        ol.lst-kix_etmve5w7l0tx-3 {
            list-style-type: none
        }

        ul.lst-kix_rejkpmt5ls7s-6 {
            list-style-type: none
        }

        ol.lst-kix_etmve5w7l0tx-6 {
            list-style-type: none
        }

        ul.lst-kix_rejkpmt5ls7s-7 {
            list-style-type: none
        }

        ol.lst-kix_etmve5w7l0tx-5 {
            list-style-type: none
        }

        .lst-kix_etmve5w7l0tx-6>li:before {
            content: "" counter(lst-ctn-kix_etmve5w7l0tx-6, decimal) ". "
        }

        ul.lst-kix_rejkpmt5ls7s-0 {
            list-style-type: none
        }

        .lst-kix_j9q3p8i64som-5>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_rejkpmt5ls7s-1 {
            list-style-type: none
        }

        ul.lst-kix_rejkpmt5ls7s-2 {
            list-style-type: none
        }

        .lst-kix_j9q3p8i64som-6>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_rejkpmt5ls7s-3 {
            list-style-type: none
        }

        .lst-kix_j9q3p8i64som-7>li:before {
            content: "\0025cb   "
        }

        .lst-kix_etmve5w7l0tx-8>li:before {
            content: "" counter(lst-ctn-kix_etmve5w7l0tx-8, lower-roman) ". "
        }

        ol {
            margin: 0;
            padding: 0
        }

        table td,
        table th {
            padding: 0
        }

        .c0 {
            margin-left: 36pt;
            padding-top: 12pt;
            padding-left: 0pt;
            padding-bottom: 12pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c2 {
            /* color: #000000; */
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 13pt;
            ;
            font-style: normal
        }

        .c1 {
            /* color: #000000; */
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            ;
            font-style: normal
        }

        .c8 {
            /* color: #000000; */
            text-decoration: none;
            vertical-align: baseline;
            font-size: 17pt;
            ;
            font-style: normal
        }

        .c9 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c14 {
            /* color: #000000; */
            text-decoration: none;
            vertical-align: baseline;
            font-size: 33pt;
            ;
            font-style: normal
        }

        .c13 {
            padding-top: 24pt;
            padding-bottom: 6pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c6 {
            padding-top: 14pt;
            padding-bottom: 4pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c3 {
            padding-top: 12pt;
            padding-bottom: 12pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c4 {
            text-decoration-skip-ink: none;
            -webkit-text-decoration-skip: none;
            color: #1155cc;
            font-weight: 700;
            text-decoration: underline
        }

        .c10 {
            background-color: #ffffff;
            max-width: 451.4pt;
            padding: 72pt 72pt 72pt 72pt
        }

        .c7 {
            color: inherit;
            text-decoration: inherit
        }

        .c12 {
            padding: 0;
            margin: 0
        }

        .c11 {
            height: 11pt
        }

        .c5 {
            font-weight: 700
        }

        .title {
            padding-top: 0pt;
            color: var(--primary);
            font-size: 26pt;
            padding-bottom: 3pt;
            ;
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 0pt;
            color: var(--primary);
            font-size: 15pt;
            padding-bottom: 16pt;
            ;
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 11pt;
            
        }

        p {
            margin: 0;
            color: var(--light);
            font-size: 11pt;
            
        }

        h1 {
            padding-top: 20pt;
            color: var(--primary) !important;
            font-size: 2.5rem;
            font-weight: 600;
            font-family: "Abhaya Libre";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left

        }

        h2 {
            padding-top: 18pt;
            color: var(--primary) !important;
            font-size: 1.75rem;
            font-weight: 600;
            font-family: "Abhaya Libre";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 16pt;
            color: var(--primary) !important;
            font-size: 1.5rem;
            font-weight: 600;
            font-family: "Abhaya Libre";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 14pt;
            color: var(--primary) !important;
            font-size: 12pt;
            font-weight: 600;
            font-family: "Abhaya Libre";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 12pt;
            color: var(--primary) !important;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Abhaya Libre";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 12pt;
            color: var(--primary) !important;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Abhaya Libre";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }